/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
start.sh
wait-for-it.sh
/mysql_data
/.fleet
/.idea
/.vscode
/public/css
/public/js
